<% layout('layout/boilerplate') %>
<div class="row">
  <h1 class="text-center mb-5">Edit a campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label mb-3">Add new title</label>
        <input
          class="form-control"
          value="<%= campground.title %>"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Enter a title"
          required
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Add new location</label>
        <input
          class="form-control"
          value="<%= campground.location %>"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="Enter a location"
          required
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            name="campground[price]"
            value="<%= campground.price %>"
            aria-describedby="price-label"
            type="text"
            class="form-control"
            id="price"
            aria-label="Amount (to the nearest dollar)"
            placeholder="0.00"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image url</label>
        <input
          class="form-control"
          value="<%= campground.image %>"
          type="text"
          name="campground[image]"
          id="image"
          placeholder="Add an image url"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          placeholder="Enter a description"
          required
        >
<%= campground.description %></textarea
        >
      </div>
      <button type="submit" class="btn btn-primary my-3">
        Update campground
      </button>
    </form>
    <a href="/campgrounds/<%=campground._id %>" class="btn btn-success my-3"
      >Back to campground</a
    >
  </div>
</div>
