<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campground</title>
  </head>
  <body>
    <h1><%= campground.title %></h1>
    <ul>
      <li><%= campground.description %></li>
      <li><%= campground.location %></li>
      <li><%= campground.price %></li>
    </ul>
    <a href="/campgrounds">Back to all campgrounds</a>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit campground</a>
  </body>
</html>
